#name {
    color: brown;
    text-align: center;
}

#centralizar {
    display: flex;
    justify-content: center;
}

#photo {
    display: block;
    margin: auto;
}

li {
    background-color: grey;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

li:hover {
    background-color: darkgray;
    transition: background-color 1.5s ease-in-out;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ol {
    list-style-type: upper-alpha;
}

.azul {
    background-color: lightblue;
    padding: 5px;

}

.minhadiv {
    border: 2px dashed black;
    background-color: gray;
    text-align: center;
}
